# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
*.tsbuildinfo
coverage/
.nyc_output/
package-lock.json

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
bin/
vendor/
go.sum.backup

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log

# Sistema Operativo
Thumbs.db
.DS_Store

# Temporales
*.tmp
*.temp
